/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 18px;
}

a {
  color: #000000;
  display: inline-block;
  
}

a:visited {
  color: #666666;
}

body a:hover {
  background-color: #000000;
  color: white;
}

.top-page {
  margin: 33px;
  color: #333333;
}

.top-headline {
  letter-spacing: 0.29px;
}

.top-content p{
  margin: 33px 33px;
  font-size: 13px;
}

.top-link a {
  margin-left: 33px;
  color: #666666;
}

.links {
  font-size: 13px;
}

.heading {
  margin: 33px;
}

.index-table {
  width: 70%;
}